@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */
@layer components {
  .primary-btn {
    @apply bg-orange-600 text-white font-bold px-4 py-2 rounded-full;
  }
  .secondary-btn {
    @apply bg-gray-300 text-white font-bold px-4 py-2 rounded-full;
  }
}

@layer utilities {
  .img-shadow {
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.4));
  }
}

/* Default theme*/
body.dark-theme {
  --bg-color: #1a202c;
  --text-color: #f7fafc;
  --button-bg: #e53e3e;
}

/* Light Theme */
body.default-theme {
  --bg-color: #ffffff;
  --text-color: #0e0d0d;
  --button-bg: #ffcc00;
}


#root {
  background-color: var(--bg-color) !important;
  color: var(--text-color) !important;
  transition: background-color 0.3s ease, color 0.3s ease;
}


body.default-theme .Home{
  background: linear-gradient(to bottom, #f3f4f6, #bfdbfe, #d8b4fe);
}
body.dark-theme .Home{
  background:  linear-gradient(to bottom, #374151, #1f2937, #000000);
}
.Home{
  transition:background-color 0.3s ease,transform 0.3s ease;
}
body.default-theme .Menu{
  background: linear-gradient(to bottom, #f3f4f6, #bfdbfe, #d8b4fe);
  
}
body.dark-theme .Menu{
  background:  linear-gradient(to bottom, #374151, #1f2937, #000000);
}
.Menu{
  transition:background-color 0.3s ease,transform 0.3s ease;
}
body.default-theme .Address{
  background: linear-gradient(to bottom, #f3f4f6, #bfdbfe, #d8b4fe);
}
body.dark-theme .Address{
  background:  linear-gradient(to bottom, #374151, #1f2937, #000000);
  color:#000;
}
.Address{
  transition:background-color 0.3s ease,color 0.3s ease,transform 0.3s ease;
}

body.default-theme .orders{
  background: linear-gradient(to bottom, #9fa8bb, #bfdbfe, #d8b4fe);
  color:#000;

}
body.dark-theme .orders{
  background:  linear-gradient(to bottom, #374151, #1f2937, #000000);
  
}
.orders{
  transition:background-color 0.3s ease,color 0.3s ease,transform 0.3s ease;
}
body.default-theme .orderssummary{
  background: linear-gradient(to bottom, #f3f4f6, #bfdbfe, #d8b4fe);
  color:#000;

}
body.dark-theme .orderssummary{
  background:  linear-gradient(to bottom, #374151, #1f2937, #000000);
  color:#000;
}
.orderssummary{
  transition:background-color 0.3s ease,color 0.3s ease,transform 0.3s ease;
}
body.default-theme .Navbar{
  background: linear-gradient(to top, #f3f4f6, #d6dfeb, #ebeaec);
}
body.dark-theme .Navbar{
  background:  linear-gradient(to bottom, #374151, #637286);
  color:white;
}
.Navbar{
  transition:background-color 0.3s ease,color 0.3s ease,transform 0.3s ease;
}
body.default-theme .savedaddresses{
  background-color: white;
}
body.dark-theme .savedaddresses{
  background:  linear-gradient(to bottom, #374151, #4c5766);
  
}
.savedaddresses{
  transition:background-color 0.3s ease,color 0.3s ease,transform 0.3s ease;
}
body.default-theme .wishlistText{
  color: black;
}
body.dark-theme .wishlistText{
  color:#fff;
  
}
.wishlistText{
  transition:color 0.3s ease,transform 0.3s ease;
}
body.default-theme .order-item{
  background-color: #fff;
}
body.dark-theme .order-item{
  background-color:rgb(112, 110, 110);
  color:#000
}
.order-item{
  transition:background-color 0.3s ease,color 0.3s ease,transform 0.3s ease;
}
